body{
  height: 100%;
  width: 100%;
  font-family: 'Lemonada', cursive;
}

header{
  width: 100%;
  color: #E997CB;
}

div{
  margin: 0px;
}

footer{
  width: 90%;
  text-align: center;
  background-color: #fff;
  color: #1B1B1B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  border-top: 2px solid #E997CB;
}

a{
  text-decoration: none;
}

.banner-container{
  text-align: center;
  border-bottom: 4px solid #E997CB;
  background-color: #1B1B1B;
}

.banner-container h4,
.banner-container h3,
.banner-container p{
  margin-top: 0;
  margin-bottom: 0;
}

.banner-container h4{
  margin-bottom: 1em;
}

.banner-container h4,
.banner-container h3
{
  color: #fff;
}

.logo-text{
  margin-top: 0px;
  padding-top: 1em;
  text-align: center;
}

.main-nav{
  width: 100%;
  padding: 0px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #fff;
}

.main-nav li{
  width: 30%;
  margin: auto;
  padding-top: 1em;
  list-style: none;
  text-align: center;
}

.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
}

.main-nav a:hover{
  color: #E997CB;
}

.about-container{
  background-color: #fff;
}

.about-container{
  height: 19em;
}

.about-container,
.kreations-container,
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.kreations-container{
  margin-top: 2em;
}

.kreation{
  height: 17em;
  width: 100%;
  /* background-color: #1B1B1B; */
  margin-top: 1em;
}

.k-1{
  background: url('../images/hair.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.k-2{
  background: url('../images/bird-house.jpg');
  background-size: cover;
}

.k-3{
  background: url('../images/hair.jpg');
  background-size: cover;
}

.k-4{
  background: url('../images/bird-house.jpg');
  background-size: cover;
}

.k-5{
  background: url('../images/hair.jpg');
  background-size: cover;
}

.k-6{
  background: url('../images/bird-house.jpg');
  background-size: cover;
}

.price-container{
  width: 100%;
  height: 4em;
  margin-top: 13em;
  background: rgb(000, 000, 00, .6);
}

.price{
  height: 30%;
  color: #fff;
  padding-top: 6px;
  margin-bottom: 4px;
}

.price a{
  color: #E997CB;
}

.info-text{
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 80%;
  border-bottom: 2px solid #E997CB;
}

.portfolio-img-container{
  width: 100%;
  height: 70%;
  margin: auto;
  margin-bottom: 1em;
}

.portfolio-img{
  width: 100%;
  height: 100%;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1%;
}

.about-container p{
  width: 90%;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  color: #000;
}

.kreation-img{
  width: 100%;
  height: 15em;
}

.social-media-links{
  list-style: none;
  padding: 0;
}

footer p{
  margin-top: 0;
  margin-bottom: 0;
}

footer a{
  color: #E997CB;
}


  @media(min-width: 640px){

  .main-nav{
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .main-nav li{
    display: inline-block;
    margin-left: .6em;
    width: auto;
  }

  .about-container{
    width: 90%;
    height: 15em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 4px solid #E997CB;
    border-top: 4px solid #000;
  }

  .about-container p{
    width: 40%;
    padding-top: 2em;
    text-align: left;
  }

  .portfolio-img-container{
    margin: 0;
    width: 50%;
    height: 100%;
  }

  .portfolio-img{
    margin-top: 1%;
    width: 94%;
    height: 95%;
  }

  .about-container img{
    width:
  }

  .kreations-container,
  .about-container{
    width: 90%;
  }

  .kreation-img{
    width: 100%;
    height: 100%;
    height: 15em;
  }

  .kreation{
    flex-direction: row;
    width: 49%;
  }
}

@media(min-width: 1280px){

  .kreation{
    width: 33%;
  }
}
